<base href="">
<meta charset="utf-8" />
<title>Dashboard</title>
<meta name="description" content="Latest updates and statistic charts">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--begin::Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
<!--end::Fonts -->
<!--begin::Page Vendors Styles(used by this page) -->
<!--end::Page Vendors Styles -->
<!--begin::Global Theme Styles(used by all pages) -->
<link href="/plugins/general/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
<link href="/plugins/general/plugins/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
<link href="/plugins/general/toastr/build/toastr.css" rel="stylesheet" type="text/css">
<link href="/css/style.bundle.css" rel="stylesheet" type="text/css" />
